* {
    box-sizing: border-box;
}

html, body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    background-color: #EEF5FF;
    color: #092D58;
  }
  
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;

      
    nav {
        height: 200px;
        padding: 0 1rem;
        background: url("./assets/images/bg-sidebar-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        flex-grow: 0;

        .nav-container {
            position: relative;
            display: flex;
            justify-content: center;
            gap: 1rem;
            top: 40px;
        }

        .step {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            font-size: 1rem;
            color: white;
            background: none;
            border: white 1px solid;
        }

        .highlight-step {
            background-color: #C0E5F4;
            color: #00214C;
        }
    }

    form {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        flex-grow: 1;
        display: flex;
        width: 80%;
        flex-direction: column;
        padding: 35px 25px;
        border-radius: 10px;
        background-color: #FFFFFF;
        box-shadow: 0px 10px 20px -10px rgba(185, 185, 185, 0.5); 

        .form-header {
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            margin-bottom: 1rem;
            padding-right: 120px;

            h1 {
                font-size: 1.6rem;
                color: #092D58;
            }

            h2 {
                color: #9A9A9B;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }

        .form-inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .input-container {
                display: flex;
                flex-direction: column;

                .label-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 0.4rem;

                    .validation-error-message {
                        color: #FF0000;
                        font-size: 0.9rem;
                    }
                }
                
                .red-border {
                    border: 1px solid red;
                }
                
                .green-border {
                    border: 1px solid green;
                }

                input {
                    padding: 0.7rem 1rem;
                    border: 1px solid gray;
                    border-radius: 5px;
                    font-size: 1rem;
                }

                input:focus {
                    border: 1px solid #544C95;
                    outline: none;
                    background-color: #F8F9FE;
                }
            }
        }
    }

    .step-2-form {
        .plans-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        

            .plan {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 20px;
                gap: 20px;
                border: 1px solid #D9D9DB;
                border-radius: 10px;
                cursor: pointer;

                h3 {
                    font-size: 1.2rem;
                    color: #04254F;
                    letter-spacing: -0.5px;
                }

                p {
                    color: #9A9A9B;
                    margin-top: 9px ;
                    letter-spacing: -0.5px;
                }

                .plan-radio {
                    visibility: hidden;
                }

                .yearly-bonus{
                    color: #04254F;
                    // font-size: 1.2rem;
                    // font-weight: 500;
                
                }

            }

            .plan-highlight {
                background-color: #F8F9FE;
                border: 1px solid #544C95;
            }

        }

        .plan-billing-selector {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: #F8F9FE;
            border: none;
            border-radius: 10px;
            padding: 10px;
            margin-top: 20px;
            font-size: 18px;
            color: #0F1D37;
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            letter-spacing: -0.5px;
            cursor: pointer;

            .monthly-icon,
            .yearly-icon {
                font-size: 40px;
            }

            .fade {
                color: #9A9A9B;
            }
        }
    }

    .step-3-form {
        .add-ons-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        
            .add-on {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 20px;
                gap: 20px;
                border: 1px solid #D9D9DB;
                border-radius: 10px;
                cursor: pointer;
            }

            .add-on-highlight {
                background-color: #F8F9FE;
                border: 1px solid #544C95;
            }

            .add-on-description {
                color: #9A9A9B;
                margin-top: 2px;  
            }

            .add-on-price {
                color: #483FFA;
                font-weight: 500;
                margin-left: auto;
            }
        }
        
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 90px;
        background-color: #FFFFFF;
        box-shadow: 0px -10px 10px -10px rgba(185, 185, 185, 0.5);
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .footer-container {
            width: 80%;

            .form-buttons {
                display: flex;
                align-items: center;
                margin: 0 auto;
    
                .next-step-btn,
                .previous-step-btn {
                    padding: 0.9rem 1rem;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.1rem;
                    background-color: #00214C;
                    color: #FFFFFF;
                    cursor: pointer;
                    font-family: "Ubuntu", sans-serif;
                }
    
                .next-step-btn {
                    margin-left: auto;
                }
    
                .previous-step-btn {
                    background-color: #FFFFFF;
                    color: #9A9A9B;
                }
    
                .disabled {
                    background-color: #CDCED2;
                    color: rgb(109, 109, 109);
                    cursor: not-allowed;
                    font-weight: 700;
                }
            }
        }
    }
}

// Utilities



// Media Queries

@media (min-width: 1440px) {
    .app {
        .nav {
            width: 100%;
        }
        .form {
            width: 100%;
        }
    }
}

